.chat{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid gainsboro;
}
.colorChat{
    color: white;
}

.chatDetails{
    flex:1;
}

.chatImage{
    margin-right: 20px;
}