.nav{
    display: flex;
    justify-content: space-around;
}

.liste{
    width: 100%;
    border-radius: 10px;
    list-style-type: none;
    background: rgba(240, 239, 239, 0.5); 
    opacity: 0,8;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position:relative;
}
.items{
    margin: 10px;
    padding:25px;
    font-size: 20px;
    cursor:pointer;
}
